* {
	margin: 0px;
}

#Content{
	height:470px;
	width:1350px;
	float:left;}


#center {
	height: 4220px;
	width: 1350px;
}

.CommodityData .Center {
	height: 480px;
	width: 800px;
	float: left;
}


#ContentListControl {
	padding-top:10px;
	height: 440px;
	width: 188px;
	float: left;
	font-family: "微软雅黑";
	font-size: 22px;
	font-weight: lighter;
	border: 1px solid #8B0;
}

#ContentListGL {
	height: 90px;
	width: 170px;
}

.ContentListTitleTextData{
	float:left;
	height:25px;
	width:145px;}
.ContentList {
	height:auto;
	overflow:auto;
	width: 168px;
	padding: 10px 10px;
	vertical-align: middle;
	background-color: #FFFFFF;
	border-bottom: 1px solid #DDD;
}
.BottonBorder0{
	border-bottom-width:0px;}
.ContentListDatasLineControl{
	height:20px;
	width:170px;}
.ContentListTitle {
	height: 25px;
	width: 170px;
	font-size: 16px;
	line-height: 25px;
	vertical-align: middle;
	font-family: "微软雅黑";
}

.ContentListTitleICO {
	height: 25px;
	width: 24px;
	float: left;
}

.ContentListTitleText {
	height: 25px;
	width: 140px;
	float: left;
	display: block;
}

.ContentListTitleICOIMG {
	height: 24px;
	width: 24px;
	background: url(../img/ShopMall/ShopMallICOData.png) no-repeat -195px
		-170px;
}

.ContentListTitleMore {
	float: left;
	display: block;
	width: 6px;
	height: 9px;
	background: url(../img/ShopMall/ShopMallICOData.png) no-repeat -195px
		-222px;
	margin-top: 8px;
}

.ContentListDatas {
	float: left;
	width: 170px;
	
}

.ContentListDatas a {
	font-size: 14px;
	font-family: "微软雅黑";
	display: block;
	float: left;
	height: 20px;
	width: 56px;
	color: #666;
}

.CatICOIMG {
	background: url(../img/ShopMall/ShopMallICOData.png) no-repeat -227px
		-170px;
}

.SmallPet {
	background: url(../img/ShopMall/ShopMallICOData.png) no-repeat -261px
		-170px;
}

.SmallPet {
	background: url(../img/ShopMall/ShopMallICOData.png) no-repeat -261px
		-170px;
}

.Weater {
	background: url(../img/ShopMall/ShopMallICOData.png) no-repeat -192px
		-196px;
}

.Reptile {
	background: url(../img/ShopMall/ShopMallICOData.png) no-repeat -228px
		-196px;
}

.SmallPet {
	background: url(../img/ShopMall/ShopMallICOData.png) no-repeat -261px
		-170px;
}

.ContentCenterIMG {
	display: block;
	width: 800px;
	height: 360px;
}

.ContentCenterListIMG {
	float: left;
	width: 266px;
	height: 90px
}

#ContentCenterListIMGControl {
	float: left;
	height: 90px;
	width: 800px;
}

.ContentListIMGClass {
	float: left;
	height: 72px;
	width: 72px;
}

#CenterLeft {
	float: right;
	height: 450px;
	width: 200px;
	float: left;
}

#CenterLeft img {
	display: block;
	float: left;
}

#News {
	height: 86px;
	width: 180px;
	padding: 10px 10px;
	float: left;
	background-color: #FFF;
}

#NewsTitle {
	width: 180px;
	height: 25px;
	font-size: 16px;
	font-family: "微软雅黑";
}

#NewsTitleText {
	float: left;
	display: block;
	height: 25px;
	width: 120px;
}

#NewsMore {
	float: left;
	height: 25px;
	width: 60px;
}

#NewsData {
	width: 180px;
	height: 80px;
}

.NewsData {
	height: 20px;
	width: 180px;
}

#NewsContent li {
	overflow: hidden;
	text-overflow: ellipsis;
	height: 20px;
	width: 180px;
	font-family: "微软雅黑";
	font-size: 12px;
	display: block;
}

#NewsContent {
	float: left;
	height: 60px;
	width: 180px;
}

#Subscribe {
	height: 51px;
	width: 180px;
	padding: 5px 10px;
	background-color: #FFF;
	float: left;
}

#SubscribeTitle {
	height: 20px;
	width: 180px;
}

#SubscribeContent {
	height: 25px;
	width: 180px;
}

#SubscribeContent input {
	display: block;
	float: left;
}

#dog {
	
	
}

.CommodityData {
	float:left;
	height: 520px;
	width: 1190px;
	margin-top: 25px;
}

.dataControl .title {
	height: 40px;
	width: 1190px;
}

.CommodityData .titcontent .Text {
	text-align: center;
	line-height: 20px;
	height: 20px;
	width: 80px;
	border-right: 1px solid #ccc;
	font-size: 15px;
	margin-top: 10px;
	color: #666;
}

.titleName {
	float: left;
	height: 40px;
	width: 190px;
}

.CommodityData .titcontent {
	float: left;
	height: 40px;
	width: 1000px;
}

.TitleControl div.BackgroundW {
	background-color: #FFF;
}

#dog .titcontent .Border0 {
	border: 0px;
}

#dog .Center .Border0 {
	border: 0px;
}
.Border0{
	border-bottom-width:0px;
	border-top-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	}

#SubscribeContent input#SubscribeContentText {
	width: 126px;
	border: 1px solid #CCC;
	height: 23px;
}

#SubscribeContentButton {
	background-color: #4490f7;
	height: 27px;
	width: 50px;
	border-width: 0px;
}

#PetHomeApp {
	height: 71px;
	width: 180px;
	padding: 5px 10px;
	margin-top: 1px;
	background-color: #FFF;
	float: left;
}

.AppTitle {
	float: left;
	height: 20px;
	width: 110px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #4490F7;
}
#PetHomeApp{
	height:70px;
	width:180px;}
#AppIMG {
	height: 70px;
	width: 70px;
	float: left;
}

#AppName {
	font-family: "微软雅黑";
	font-size: 14px;
	height: 20px;
	width: 110px;
	float: left;
}

.NewsMore span {
	background: url(../img/ShopMall/ShopMallICOData.png) no-repeat;
	margin-left: 10px;
	margin-top: 5px;
	height: 15px;
	width: 15px;
	float: left;
}

.NewsMore span.NewsMoreLeft {
	background-position: -170px -38px;
}

.NewsMore span.NewsMoreRight {
	background-position: -190px -38px;
}

#ContentCenterIMGControl {
	float: left;
	height: 450px;
	width: 800px;
}

.ContentListTitleMoreControl {
	float: left;
	width: 6px;
	height: 25px;
}

#Mankongright {
	height: 350px;
	width: 165px;
	float: left;
}

#adviertisementControl {
	height: 120px;
	width: 1366px;
	background-color: #F3F3F3;
}

#adviertisementDiv {
	height: 120px;
	width: 1004px;
	margin-left: 179px;
}

.adviertisementClass {
	float: left;
	height: 120px;
	width: 250px;
	border-left-color: #DDDDDD;
	border-left-width: 1px;
	border-left-style: solid;
	color: #666666;
	font-size: 13px;
}

.adviertisementText {
	height: 120px;
	width: 150px;
	float: left;
	color: #999999;
	font-size: 14px;
	vertical-align: middle;
	text-align: center;
}

.adviertisementIMG {
	float: left;
	height: 120px;
	width: 100px;
}

.adviertisementName {
	color: #4490f7;
	font-size: 18px;
	font-family: "微软雅黑";
	font-weight: 400;
}

#adviertisementListTeleter {
	font-size: 17px;
}

.ClassificationControl {
	width: 1030px;
	height: 636px;
	margin-left: 179px;
	margin-top: 10px;
}

.ClassificationContentControl {
	height: 595px;
	width: 1030px;
	border-color: #E6E6E6;
	border-style: solid;
	border-width: 1px;
}

.ClassificationBottomControl {
	height: 215px;
	width: 1030px;
	background-color: #F3F3F3;
}

.ClassificationBottomContentControl {
	height: 180px;
	width: 1030px;
}

.ClassificationTitle {
	height: 40px;
	width: 1030px;
	color: #4490F7;
	font-family: "微软雅黑";
	font-size: 30px;
	line-height: 40px;
	vertical-align: middle;
	font-weight: 400;
}

.ClassificationLogoImg {
	height: 40px;
	width: 40px;
	float: left;
}

.ClassificationCenterIMG {
	margin-top: 10px;
	margin-left: 10px;
	height: 360px;
	width: 360px;
}

.ClassificationCenterControl {
	height: 380px;
	width: 1030px;
}

.ClassificationCenterIMGControl {
	height: 379px;
	width: 380px;
	float: left;
	border-bottom-color: #E6E6E6;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.ClassificationLeftControl {
	height: 379px;
	width: 649px;
	float: left;
	border-left-color: #E6E6E6;
	border-left-style: solid;
	border-left-width: 1px;
	border-bottom-color: #E6E6E6;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.ClassificationUseringTitle {
	width: 650px;
	height: 30px;
	color: #4490F7;
	font-family: "微软雅黑";
	font-size: 20px;
}

.ClassificationUsering {
	float: left;
	height: 160px;
	width: 161px;
	border-right-color: #E6E6E6;
	border-right-style: solid;
	border-right-width: 1px;
}

.ClassificationUseringControl {
	height: 190px;
	width: 650px;
}

.ProductName {
	height: 20px;
	width: 162px;
	color: #4490F7;
	font-family: "微软雅黑";
	font-size: 17px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
}

.ProductDescribe {
	height: 20px;
	width: 162px;
	color: #999999;
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
}

#BorderClean {
	border-right-width: 0px;
}

.ClassificationServiceControl {
	margin-top: 15px;
	height: 173px;
	width: 650px;
	border-top-color: #E6E6E6;
	border-top-style: solid;
	border-top-width: 1px;
}

#ClassificationServiceCleanBorder {
	border-width: 0px;
}

.ClassificationServiceTitle {
	height: 30px;
	width: 650px;
	color: #4490F7;
	font-family: "微软雅黑";
	font-size: 20px;
}

.ClassificationServiceContent {
	width: 650px;
	height: 110px;
}

.ClassificationServiceClass {
	float: left;
	height: 110px;
	width: 215px;
	border-right-color: #E6E6E6;
	border-right-style: solid;
	border-right-width: 1px;
}

.ClassificationServiceImg {
	float: left;
	height: 110px;
	width: 108px;
}

.CSISRC {
	margin-top: 10px;
	margin-left: 10px;
	height: 90px;
	width: 90px;
}

.ClassificationServiceClassTitle {
	float: left;
	height: 40px;
	width: 106px;
	color: #131313;
	font-family: "微软雅黑";
	font-size: 20px;
	line-height: 40px;
	vertical-align: middle;
}

.ClassificationServiceText {
	float: left;
	height: 70px;
	width: 106px;
	color: #999999;
	font-family: "微软雅黑";
	font-size: 12px;
	vertical-align: middle;
}

.ClassificationForumControl {
	float: left;
	height: 216px;
	width: 380px;
	border-right-color: #E6E6E6;
	border-right-style: solid;
	border-right-width: 1px;
}

.ClassificationEncyclopediaControl {
	float: left;
	height: 216px;
	width: 648px;
}

.ClassificationForumTitle {
	height: 35px;
	width: 380px;
	color: #4490F7;
	font-family: "微软雅黑";
	font-size: 20px;
	line-height: 35px;
	vertical-align: bottom;
}

.ClassificationForumContent {
	height: 181px;
	width: 380px;
}

.ClassificationForumImg {
	float: left;
	height: 60px;
	width: 60px;
	border-radius: 100%;
	overflow: hidden;
}

.ClassificationForumTextControl {
	float: left;
	height: 60px;
	width: 320px;
}

.ClassificationForumTextTitle {
	width: 320px;
	height: 35px;
	color: #131313;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 35px;
	vertical-align: bottom;
}

.ClassificationForumTextContent {
	height: 25px;
	width: 320px;
	color: #999999;
	font-size: 12px;
	line-height: 25px;
	vertical-align: bottom;
	font-family: "微软雅黑";
}

.ClassificationForumContentControl {
	height: 60px;
	width: 380px;
}

.EncyclopediaTitle {
	height: 35px;
	width: 648px;
	color: #4490F7;
	font-family: "微软雅黑";
	font-size: 20px;
	line-height: 35px;
	vertical-align: bottom;
}

.EncyclopediaContentTitle {
	color: #131313;
	font-family: "微软雅黑";
	font-size: 20px;
	line-height: 35px;
	vertical-align: bottom;
	height: 35px;
	width: 274px;
}

.EncyclopediaContentText {
	height: 110px;
	width: 274px;
	color: #999999;
	font-size: 12px;
	line-height: 25px;
	vertical-align: bottom;
	font-family: "微软雅黑";
}

.EncyclopediaContentControl {
	float: left;
	width: 274px;
	height: 181px;
}

.EncyclopediaContentImgControl {
	float: left;
	height: 181px;
	width: 209px;
}

.EncyclopediaContentImg {
	margin-top: 2px;
	margin-left: 10px;
	width: 189px;
	height: 140px;
}

.VarietiesControl {
	float: left;
	height: 171px;
	width: 160px;
	border-left-color: #ECECEC;
	border-left-style: solid;
	border-left-width: 1px;
}

.VarietiesTitle {
	height: 30px;
	width: 161px;
	color: #131313;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 30px;
	vertical-align: bottom;
}

.VarietiesContent {
	height: 20px;
	width: 161px;
	color: #999999;
	font-size: 12px;
	line-height: 20px;
	vertical-align: bottom;
	font-family: "微软雅黑";
}

#HotPet {
	height: 340px;
	width: 1200px;
}

#HotPetTitle {
	height: 40px;
	width: 1200px;
}

#HotPetTitleText {
	height: 40px;
	width: 600px;
	float: left;
	line-height: 40px;
	vertical-align: middle;
	text-align: left;
	font-family: "鏂规鍏颁涵瓒呯粏榛戠畝浣�";
	font-size: 18px;
	font-weight: 800;
}

#HotPetTitleMore {
	height: 40px;
	width: 600px;
	float: left;
	line-height: 40px;
	vertical-align: middle;
	text-align: right;
	font-family: "鏂规鍏颁涵瓒呯粏榛戠畝浣�";
	font-size: 14px;
}

#HotPetBody {
	height: 300px;
	width: 1200px;
}

.HotPetControlClassIMGControl {
	height: 125px;
	width: 190px;
}

.HotPetControlClassIMG {
	height: 125px;
	width: 190px;
}

.HotPetControlClassText {
	height: 20px;
	width: 190px;
	background-color: #EFEFEF;
	line-height: 20px;
	vertical-align: middle;
	font-family: "微软雅黑";
	font-size: 14px;
	text-align: center;
}

#HotPetControlClass1 {
	margin-right: 0px;
}

#HotPetControlClass2 {
	margin-right: 0px;
}

.HotPetControlClass {
	height: 145px;
	width: 190px;
	float: left;
	margin-right: 12px;
}

.BaiKeControlTitle {
	width: 1200px;
	height: 45px;
	background-color: #99CC33;
}

.TitleText {
	float: left;
	height: 40px;
	width: 130px;
	float: left;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 40px;
	vertical-align: middle;
	margin-left: 10px;
}

.title {
	height: 40px;
	width: 1190px;
}

.CommodityData .Content {
	height: 480px;
	width: 1190px;
	border-top: 2px solid #4490F7;
}

.CommodityData .CenterC2 {
	height: 58px;
	width: 800px;
	float: left;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.CommodityData .CenterC1 {
	height: 420px;
	width: 800px;
}

.CommodityData .ContentData {
	height: 190px;
	width: 178px;
	padding: 10px 11px;
	float: left;
}

.BrandClass {
	height: 58px;
	width: 99px;
	border-right: 1px solid #ccc;
	float: left;
}

.R_Tit {
	height: 18px;
	width: 180px;
	color: #4490F7;
	font-family: "微软雅黑";
	font-size: 16px;
	line-height: 18px;
}

.R_Tit_Content img {
	height: 60px;
	width: 60px;
	float: left;
}

.R_Tit_Content .Name {
	height: 38px;
	width: 120px;
	float: left;
	font-family: "微软雅黑";
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.R_Tit_Content .Price {
	height: 22px;
	width: 120px;
	float: left;
	font-family: "微软雅黑";
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #4490f7;
}

.R_Tit_Content {
	height: 452px;
	width: 180px;
}

.R_Tit_Content .Data {
	height: 60px;
	width: 180px;
	margin: 15px 0px;
}

.CommodityData .Right {
	width: 178px;
	height: 459px;
	float: left;
	padding: 10px 10px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.BrandClass img {
	height: 38px;
	width: 80px;
	padding: 10px 9px 10px 10px;
	display: block;
}

.CommodityData .ContentData img {
	height: 120px;
	width: 120px;
}

.Man {
	height: 480px;
	width: 190px;
	float: left;
}

.BaiKeControlTitleKong {
	float: left;
	background-color: #FFF;
	height: 40px;
	width: 780px;
}

#dog div.TitleIMG {
	background-position: 2px 4px;
}

#reptile div.TitleIMG {
	background-position: -268px 3px;
}

#crawler	div.TitleIMG {
	background-position: -198px 3px;
}

#smallPet div.TitleIMG {
	background-position: -130px 3px
}
#cat div.TitleIMG {
	background-position: -66px 3px;
}
.TitleIMG {
	float: left;
	height: 40px;
	width: 40px;
	background: url(../img/ShopMall/ShopMallICOData.png) no-repeat;
	background-size: 400px 420px;
}



.BaikeControlList {
	background-color: #FFF;
	height: 40px;
	width: 240px;
	float: left;
}

.BaiKeControl {
	height: 410px;
	width: 1200px;
}

.BaikeControlListClass {
	margin-top: 10px;
	height: 20px;
	width: 79px;
	float: left;
	font-size: 16px;
	font-family: "微软雅黑";
	color: #000500;
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
}

#BaikeControlListClassTraing {
	border-left-color: #CCCCCC;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #CCCCCC;
	border-right-style: solid;
	border-right-width: 1px;
}

.BaikeControlBody {
	height: 350px;
	width: 1200px;
}

.BaikeControlIMG {
	width: 290px;
	height: 220px
}

.BaikeControlIMGDis {
	margin-top: 20px;
	font-size: 13px;
	width: 290px;
	height: 85px;
	line-height: 23px;
}

.BaikeLogoControl {
	height: 325px;
	width: 290px;
	margin-top: 20px;
	float: left;
	background-color: #F3F3F3;
}

.BaikeIMGClass {
	height: 66px;
	width: 90px;
	float: left;
}

.BaikeIMGControl {
	height: 345px;
	width: 610px;
	float: left;
}

.BaikeIMGClassText {
	height: 66px;
	width: 185px;
	float: left;
	line-height: 20px;
	vertical-align: middle;
	font-family: "微软雅黑";
	font-size: 13px;
	text-align: left;
}

.BaikeIMGClassControl {
	height: 66px;
	width: 285px;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

.InterlocutionControl {
	margin-top: 20px;
	height: 325px;
	width: 300px;
	float: left;
}

.InterlocutionControlTitle {
	margin-top: 1px;
	float: left;
	height: 32px;
	width: 300px;
}

.InterlocutionControlTitleIMGDIV {
	height: 32px;
	width: 30px;
	float: left;
}

.InterlocutionControlTitleIMG {
	height: 27px;
	width: 30px;
}

.InterlocutionControlTitleText {
	height: 30px;
	width: 270px;
	float: left;
	line-height: 30px;
	vertical-align: middle;
	font-family: "微软雅黑";
	font-size: 14px;
	text-align: left;
}

#CommodityControl {
	height: 3320px;
	width: 1190px;
	margin: 0px auto;
}

#Commodity {
	float:left;
	height: 3600px;
	width: 1350px;
}

#bottomControl {
	height: 180px;
	width: 1350px
}

#HotCommodity .Tile {
	line-height: 30px;
	width: 1190px;
	height: 30px;
}

.Text {
	width: 595px;
	height: 30px;
	color: #4490F7;
	font-size: 17px;
	float: left;
	font-family: "微软雅黑";
	line-height: 30px;
	vertical-align: middle;
}

.TileMore {
	width: 595px;
	height: 30px;
	text-align: right;
	font-size: 12px;
	float: left;
	font-family: "微软雅黑";
	line-height: 30px;
	vertical-align: middle;
}

#HotCommodity .Content {
	height: 228px;
	width: 1188px;
	border: 1px solid #CCC;
}

#HotCommodity .Content .ContentData {
	float: left;
	height: 195px;
	width: 178px;
	padding: 20px 10px 15px;;
}

.ContentDataIMG {
	height: 120px;
	width: 120px;
	padding: 0px 29px;
}

.ContentDataPrice {
	overflow: hidden;
	text-overflow: ellipsis;
	height: 22px;
	width: 158px;
	padding: 0px 10px;
	font-family: "微软雅黑";
	font-size: 14px;
}

.ContentDataTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	height: 22px;
	width: 158px;
	padding: 0px 10px;
	margin-top: 10px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666;
}

.ContentDataIMG img {
	display: block;
	height: 120px;
	width: 120px;
}

.ContentDataPrice span {
	height: 22px;
	width: 79px;
	float: left;
	display: block;
	font-family: "微软雅黑";
	line-height: 22px;
	vertical-align: middle;
}

.ContentDataPrice span.Price {
	color: #4490f7;
}

.ContentDataPrice span.Total {
	color: #666;
	font-size: 11px;
	text-align: right;
}

#HotCommodity {
	float:left;
	height: 262px;
	width: 1190px;
}

#Brand .Content {
	height: 270px;
	width: 1190px;
	float: left;
}
#Shop_Car {
	height: 40px;
	width: 141px;
	float: left;
	background-color: #8B0;

}
#Brand {
	float:left;
	height: 300px;
	width: 1190px;
	margin-top: 19px;
}
#ContentControl{
	margin-left:80px;
	
	width:1190px;
	height:450px;
	
	float:left;}
.ContentData {
	height: 270px;
	width: 198px;
	float: left;
}

.MT10 {
	margin-top: 10px;
}

.Height130 {
	height: 130px;
	width: 198px;
}
 
#HotJudged{
	height:214px;
	width:1190px;
	margin-top:10px;
	float:left;
	margin-left:80px;
	}

#HotJudged #TitleIMG{
	height:25px;
	width:28px;
	float:left;
	background:url(../img/ShopMall/ShopMallICOData.png) no-repeat -113px -38px;}
#HotJudged #Title{
	width:990px;
	height:25px;
	border-bottom:2px solid #0049F7;
	}
#Judged{
	width:990px;
	height:214px;
	float:left;
	}
#Judged .DataControl{
	height:90px;
	width:990px;
	border-bottom:1px solid #ccc;}
.Border1{
	border-right:1px solid #CCC;}			
#AttentionUS{
	margin-left:10px;
	float:left;
	height:212px;
	width:188px;
	}
	
.WeixingIMG{
	float:left;
	background:url(../img/ShopMall/ShopMallICOData.png) no-repeat -113px -77px;
	height:70px;
	width:70px;}
.WeBoIMG{
	height:70px;
	width:70px;
	background:url(../img/ShopMall/ShopMallICOData.png) no-repeat -113px -159px;
	float:left;
	}
#AttentionUS .DataLeft {
	float:left;
	height:70px;
	width:80px;
	padding:0px 10px;
	}
	
.AttentionUSWebo{
	width:80px;
	height:28px;
	background:url(../img/ShopMall/ShopMallICOData.png) no-repeat -195px -130px;
	}	
	
#AttentionUS .DataLeft strong{
	font-size:14px;
	font-family:"微软雅黑";
	margin-top:5px;
		}
#AttentionUS .DataLeft p{
	font-size:12px;
	font-family:"微软雅黑";
	margin-top:5px;
		}		
			
#AttentionUS .Data{
	height:70px;
	width:170px;
	padding:10px 10px;
	border-bottom:1px solid #ccc;}	
#AttentionUS #Content{
	
	height:181px;
	width:188px;
	float:left;
	background-color:#fff;}		
#AttentionUS #Title{
	width:188px;
	height:25px;
	float:left;}	
#HotJudged #Text{
	line-height:25px;
	height:25px;
	width:962px;
	float:left;
	color:#0049f7;
	font-family:"微软雅黑";
	font-size:17px;
	}
#Judged #Content{
	height:181px;
	width:989px;
	background-color:#FFF;

	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	
	}
#Judged .Data{
	width:474px;
	height:70px;
	float:left;
	
	
	padding:10px 10px;}
#HotJudged .Left{
	height:69px;
	width:40px;
	float:left;}	
.UserIMG{
	height:40px;
	width:40px;
	
	}
.UserName{
	height:29px;
	width:40px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family:"微软雅黑";
	font-size:12px;
	line-height:29px;
	color:#666;
	
	}
.JudgedMark{
	height:14px;
	width:315px;
	
	}
.UserIMG img{
	height:40px;
	width:40px;}	
.JudgedMark .IMG{
	float:left;
	height:14px;
	width:78px;
	background:url(../img/ShopMall/ShopMallICOData.png) no-repeat 0px -77px;
	}
.JudgedMark .Score{
	float:left;
	height:14px;
	width:237px;
	font-size:11px;
	font-family:"微软雅黑";
	}	
.JudgedText{
	height:50px;
	width:315px;
	float:left;
	font-size:13px;
	font-family:"微软雅黑";
	overflow:hidden;
text-overflow: ellipsis;
line-height:16px;
	}
#HotJudged .Center{
	float:left;
	height:69px;
	width:315px;}	
.CommodityIMG{
	display:block;
	float:left;
	height:60px;
	width:60px
	
	}			
#floatspanControl{
	height:auto;
	width:1390px;}
