@charset "utf-8";
/* CSS Document */

.maginLeft20{
	margin-left:20px;}
.MaginLeft100{
	
	margin-left:80px;}
.width300{
	width:382px;}
.tips{
	margin-left:20px;}
.addressOpticallyBody{
	margin-left:10px;
	height:1250px;}				