@charset "utf-8";
/* CSS Document */
.PersionDataSubmit{
	margin-left:6px;
	}
.datacontentLine{
	height: 30px;
	width: 716px;
	line-height: 30px;
	vertical-align: middle;
	padding: 0px 30px;
	margin-top:10px;}
#datacontentControl{
	float:left;
	width:776px;
	height:310px;
	}	
#addressViewControl{
	margin-top:20px;
	height:auto;
	width:780px;
	border:1px solid #ddd;
	}		
#addressAddControl{
	border:1px solid #ddd;
	width:780px;
	
	height:80px;}
.addressdatacontentLine{
	height:30px;
	}	