@charset "utf-8";
/* CSS Document */
.coupons{
	height:260px;}
	
.width174{
	width:174px;
	
	line-height:25px;
	overflow:hidden; 
	white-space:nowrap;
	text-overflow:ellipsis;
	}
.ProductID{
	width:150px;
	}
.colorRed{
	color:#c00;}	
														
.
		
