<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib uri="/struts-tags" prefix="s"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" rel="stylesheet" href="index.css">
<link type="text/css" rel="stylesheet" href="PersionCenter.css">
<title>宠物之家后台管理系统</title>
<script src="../jquery/jquery-1.7.2.js"></script>
<script>
$(function() {
$("#ShopMallOder").click(function(){
	var RequestPage="ShopOderManager.jsp";
	
	$.ajax({
						url : "..//SaveAllFreshData.action",
						data : {
							
						 	"RequestPage":RequestPage,
							
						},
						scriptCharset : 'utf-8',
						contentType : "application/x-www-form-urlencoded;charset=utf-8",
						dataType : "json",
						type : "post",
						traditional : true,/* 传数组进后台需要设置该属性 */
						success : function(str, textStatus) {

							if (str.statusTotal = "OK") {

								var InputUrlPath = $("#conent_URL_text").val();
								InputUrlPath.value=str.page;
							/* document.getElementById("getUrlSrc").click(); */
						  /* $("#test").trigger("click"); */ 
							} else {
								alert("程序出错请检查设置！");

							}

						}

					})
	
	
	
	
	})

})
</script>
</head>
<body>
	<div id="top">
    <div id="topControl">
		
		<div class="topleftclass">宠物之家</div>
		<div class="topleftclass">宠物商城</div>
		<div class="topleftclass">宠物服务</div>
		<div class="topleftclass">宠物论坛</div>
		<div class="topleftclass">宠物百科</div>
		<div id="topcenter"></div>
		<div class="toprightclass username">你好.  <s:property value="#session.AccountInfo.accountName"></s:property></div>
		<div class="toprightclass">注册</div>
		<div class="toprightclass">微博</div>
		<div class="toprightclass">微信</div>
		<div class="toprightclass">手机版</div>
		<div id="topright"></div>
        </div>
	</div>
	
    <div id="shoulder">
    <div id="Control">
    <div id="logoimg">
      <img src="../img/Logo/logo.png" width="164" height="90"> 
      </div>
      <div id="nva">
      <ui>
      <li>
      我的波奇
      </li>
      <li>
      社区主页
      </li>
      <li>
      个人设置
      </li>
      <li>
      消息
      </li>
      </ui>
      </div>
     <div id="SerchInfo">
     <div id="SerchControl">
     <input type="text" id="SearchKeyword" >
    <div class="SearchSubmit"></div>
    </div>
    </div>
    </div>
    
   
    </div>
    <div id="content">
    <div id="contentControl">
    <div id="title">
    <div class="oderManager listTitleManager">
    <div class="listTitle">
    交易管理
    </div>
    <div class="listTitleContent">
    <a href="#" id="ShopMallOder">商城订单</a>
    </div>
    <div class="listTitleContent">
    服务订单
    </div>
    <div class="listTitleContent">
    退货记录
    
    </div>
    <div class="listTitleContent">
   到货记录
    </div>
    <div class="listTitleContent">
    我的收藏
    
    </div>
    </div>
    <div class="meonyManager listTitleManager">
       <div class="listTitle">
    资金管理
    </div>
    <div class="listTitleContent">
    余额
    </div>
    <div class="listTitleContent">
    服务订单
    </div>
    <div class="listTitleContent">
    退货记录
    
    </div>
    <div class="listTitleContent">
   到货记录
    </div>
    <div class="listTitleContent">
    我的收藏
    
    </div>
    </div>
    <div class="messingManager listTitleManager">
       <div class="listTitle">
   消息管理
    </div>
    <div class="listTitleContent">
    咨询消息
    </div>
    <div class="listTitleContent">
   系统消息
    </div>
    <div class="listTitleContent">
   私信
    
    </div>
   
    </div>
    <div class="persionSeeting listTitleManager">
       <div class="listTitle">
    个人设置
    </div>
    <div class="listTitleContent">
    安全设置
    </div>
    <div class="listTitleContent">
    收货地址
    </div>
    <div class="listTitleContent">
    发票抬头
    
    </div>
    <div class="listTitleContent">
   绑定帐号
    </div>
   
    </div>
    </div>
    <div id="data">
    s
    </div>
    </div>
    
    <div id="bottomControl">
			<div id="bottomCenterControl">
				<div class="bottomLink">关于宠家</div>
				<div class="bottomLink">友情链接</div>
				<div class="bottomLink">诚聘英才</div>
				<div class="bottomLink">联系我们</div>
				<div class="bottomLink">网站地图</div>
				<div class="bottomLink">意见反馈</div>
				<div class="bottomLink">帮助中心</div>
				<div id="bottomLinkID" class="bottomLink">客服热线：400-820-6098</div>
				<div id="bottomBeianControl">
					<div class="bottomBaian">
						<img src="../img/beian/beian.png" width="20" height="20">沪公网安备
						31011502004955号
					</div>
					<div class="bottomBaian">沪ICP备13034501号-2</div>
					<div class="bottomBaian">增值电信业务经营许可证： 沪B2-20140120</div>
				</div>

				<div id="BeianInfoControl">Copyright © 2007-2018 Boqii.com All
					Rights Reserved 光橙（上海）信息科技有限公司 版权所有</div>
				<div id="BeianImgControl">
					<div class="BeianImg">
						<img src="../img/beian/foot_gs.png" width="100" height="35">
					</div>
					<div class="BeianImg">
						<img src="../img/beian/foot_cx.png" width="100" height="35">
					</div>
					<div class="BeianImg">
						<img src="../img/beian/foot_kx.png" width="100" height="35">
					</div>
					<div class="BeianImg">
						<img src="../img/beian/foot_zx.png" width="100" height="35">
					</div>

				</div>
			</div>
		</div>
    
    
	</div>
</body>
</html>