@CHARSET "UTF-8";
.accountDataTotal{
	height:180px;}
#accountMoney{
	font-size:18px;
	font-weight:bolder;
	color:#F00;}
.colorRed{
	color:#C00;}
.maginleft120{
	margin-right:120px;}
.width170{
	width:170px;}
.width110{
	width:110px;}
.width122{
	width:105px;}						