@CHARSET "UTF-8";
.oderinfotext{
	width: 158px;
height: 20px;
color: #777;
	}
#topContorl{
	margin:0px auto;
	height:30px;
	width:990px;}

#dataSource {
	float:left;
	margin-top: 10px;
	height: auto;
	border: 1px solid #ccc;
}
.odersearch{
	
	background-color:#EEE;
	border-width:0px;
	height:27px;
	width:80px;
	color:#777;
	}
#searchControl{
	
	
	height: 24px;
width: 246px;
float: right;}


.datacontent {
	font-size: 12px;
	float: left;
	margin-bottom: 10px;
	width: 776px;
	height:auto;
	background-color: #FFF;
	font-family: "微软雅黑";
	padding: 20px 20px;
}
#dataSourceContentControl{
	float:left;
	border:1px solid #ccc;
	height:auto;
	width:780px;
	}

.datacontentTitle {
	margin-top:10px;
	float:left;
	font-size: 16px;
	width: 780px;
	height: 30px;
}

.datacontentLine {
	float:left;
	height: 30px;
	width: 716px;
	line-height: 30px;
	vertical-align: middle;
	padding: 0px 30px;
}

.datacontentTitleText {
	width: 388px;
	float: left;
	height: 30px;
}

.datacontentTitleMore {
	height: 30px;
	width: 388px;
	float: left;
	text-align: right;
	font-size: 11px;
	color: #666;
}
#contentBody{
	height:auto;
	vertical-align:middle;
	line-height:60px;
	text-align:center;
	color:#777;
	width: 776px;
	font-size: 12px;
	vertical-align: middle;
	text-align: center;
}	

.title {
	float:left;
	height: 30px;
	width: 776px;
	border-bottom: 2px solid #bbb;
	font-size: 14px;
	text-align: center;
}

.titleClass {
	float: left;
	height: 30px;
	width: 120px;
	line-height: 30px;
}



#dataSourceTitle {
	background-color:#eee;
	height: 35px;
}
#dataSourceTitle div{
	float:left;
	height:35px;}
.dataSourceLineControl{
	float:left;
	
	width: 780px;
	border-bottom: 1px solid #ccc;
	
	}

.dataSourceTitleContent {
	
	color: #555;
	font-size: 12px;
	height: 35px;
	width: 90px;
	line-height: 35px;
	text-align: center;
}


#contentBody div{
	height:30px;
	float:left;
	line-height:30px;
	
	
}

.dataSourceContentData{
	float:left;
	
	height:30px;
	width:90px;}

.searchTime {
	margin-left: 416px;
	text-align: right;
}

.searchTime select {
	margin-top: 5px;
}

.PersionDataSubmit{
	
		border-width:0px;
		margin-left:40px;
		height:30px;
		width:120px;
		background-color:#C00;
		color:#FFF;
		font-size:14px;}
.inputText{
	float:left;
	margin-top:5px;
	height:20px;
	width:140px;
	border:1px solid #CCC;}
.attrbuteName{
	height:30px;
	width:80px;
	float:left;}
.addselect{
	margin-top:5px;
	height:20px;
	width:100px;
	
	}
#View{
	float:left;
	margin-top:10px;
	border:2px solid #C00;
	font-family:"微软雅黑";
	font-size:12px;
	width:776px;
	height:260px;
	
	
	
	
	}
#Viewtitle{
	height:30px;
	color:#c00;
	font-weight:bolder;
	font-size:15px;
	}
#ViewContent{
	height:30px;}
.optically{
	text-align:right;
	}
.datacontentSelect{
	height:30px;}

.selectInco{
	background-image:url(../img/Account/AccountCenter/man/sprites.png);
	background-position:-335px -189px;}
.search{
	width:296px;}
#test{
	float:right;
	height:30px;
	width:243px;
	}
.ProductID{
	width:150px;}
.ProductInfo{
	width:264px;
	overflow:hidden; 
	white-space:nowrap;
	text-overflow:ellipsis;}
.contentDataLine{
	height:80px;
	width:774px;
	}
.contentDataView{
	float: left;
	color: #555;
	font-size: 12px;
	height: 25px;
	width:90px;
	
	height:80px;
	line-height: 80px;
	text-align: center;}														