@charset "utf-8";
/* CSS Document */

.ProductCollect{
	height:420px;
	}

.ProductInfo{
	width:354px;}
.sonLine{
	height:30px;
	width:774px;}	
	

#contentBody div{
	float:left;
	height:30px;}
.ProductID{
	width:150px;}			