@charset "utf-8";
/* CSS Document */

.userinfo{
	height:160px;
	width:816px;
	font-size:12px;}

.userinfoDataContent{

	width:696px;
	height:50px;}
#userinfoControl{
	height:120px;}	
#userinfoData{
	height:120px;
	width:696px;
	float:left;}
.PersionDataImg{
		margin-top:5px;
		float:left;
		height:20px;
		width:15px;
		background-image:url(../img/Account/AccountCenter/man/sprites.png);
		
		}
	.Email{
		background-position:-8px -245px;
		float:left;}
	.Telphone{
		background-position:-50px -245px;
		float:left;}
	.MoneyCard{
		background-position:-50px -245px;
		float:left;
		}
	.userinfoDataContentText{
		color:#36C;
		margin-top:5px;
		float:left;
		margin-right:45px;}					
	.tips{
		color:#F03D00;}	
	.datacontentLine{
		height:80px;
		width:816px;
		line-height:60px;
		vertical-align:middle;}
	.safetyLeve{
		width:816px;
		font-family:"微软雅黑";
		font-size:12px;
		color:#666;
		
		height:360px;
		}	
	.safetyLeveTipsImg{
		margin-top:12px;
		
		
		float:left;
		height:40px;
		width:40px;
		background-image:url(../img/Account/AccountCenter/man/sprites.png);
		}
	.loginPassword{
		background-position:-321px -236px;
		}
	.email{
		background-position:-195px -236px;
		}
	.telphone{
		background-position:-155px -233px
		}
	.centerPassword{
		background-position:-321px -236px;
		}
	.safetyTitle{
		width:160px;
		height:80px;
		margin-left:10px;
		float:left;
		display:block;
		color:#111;
		font-weight:bolder;
		
		
		}
	#telphoneNumber{
		color:#222;
		font-weight:bolder;}
	.safetyLeveText{
		display:block;
		height:80px;}
	#safetyLeveControl{
		margin-top:20px;
		line-height:16px;
		
		height:16px;
		
		
		float:left;
		}
	#safetyLeveTitle{
		float:left;
		width:100px;
		height:80px;
		
		}
	.leve{
		height:15px;}											