@CHARSET "UTF-8";


.shopOder{
	height:200px;
	}



.sonTitleContent{
	float:left;
	color:#555;
	font-size:12px;
	height:25px;
	width:100px;
	line-height:25px;
	text-align:center;
	
	}
.width350{
	width:350px;}
.width122{
	width:122px;}
#sonTitle{
	
height:25px;
width:776px;
border-bottom:1px  solid #ccc;}
.borderleftandright1{
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;}
											